<%= form_for(@unobtrusive_jikochu) do |f| %>
  <% if @unobtrusive_jikochu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unobtrusive_jikochu.errors.count, "error") %> prohibited this unobtrusive_jikochu from being saved:</h2>

      <ul>
      <% @unobtrusive_jikochu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
